.input-field.col label {
    left: 0;
}

.card_img_crd_b{
    width: 100%;
    height: auto;
}


.ipa{
    padding-left : 5%;
    padding-right: 5%;
}

#dropEns{
    padding-left : 5%;
    padding-right: 5%;
    width: auto;
}

.slb{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    padding-top: 2%;
}


.block {

    border-style: solid;
    border-width: 2px;

}


.container {
    width: 90%;
}


@font-face {
    font-family: Luna;
    src: url("../fonts/Luna.ttf");
}

body{
    background-image: url("../img/NEW_BG.png");
    background-attachment: fixed;
}

.pev {
    border: dotted;
    /*border-width: 2px;*/
}


.brand-logo{
    text-shadow: 2px 2px #000000;
    margin-left: 20px;
}

.card_signup{
    margin-top: 12em;
}

.luna{
    font-family: Luna;
}


.midnight-blue{
    color: #2c3e50;
}

nav{
    opacity: 1;
}

.nav-perso {
    background: linear-gradient(10deg,#4b6572,#2c3e50);
}

nav li{
    margin-right: 1em;
}

.content-connexion{
    padding-top: 4em;
}

#btn-connexion{
    padding-bottom: 2em;
}

.card-download{
    padding: 2.5em;
}

.iconeJoueur{
    width: 4rem;
}

::-webkit-input-placeholder { /* Chrome */
    color: #b0bec5;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #b0bec5;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #b0bec5;
    opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
    color: #b0bec5;
    opacity: 1;
}

.section-mon-compte{
    padding-top: 5em;
}