@font-face {
    font-family: Luna;
    src: url("../fonts/Luna.ttf");
}

body{
    background-image: url("../img/background_create_account.png");
}

#h1_boutique{
    color: white;
    font-family: Luna;
    font-size: 4em;
    margin-top:1em;
    margin-bottom:1em;
    text-shadow: 4px 2px 2px rgba(0, 0, 0, 1);
}

.card-container {
    background-image: url("../img/wooden_bg.jpg");
    /*border: 3px solid black;*/
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}



.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-flat {

    text-align: center;
    display: inline-block;
    width: 33%;
    height: 100%;
    float: left;
    margin-left: 0px;
}


#coffre_img{
    border-radius: 15px 15px;
}

#coffre_card{
    border-radius: 15px 15px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.btn_buy_pack{
    margin-top: 2em;
}

.card-reveal{
    padding: 2em;
}

#pack_name{

}

#coffre_card_reveal{
    border:5px solid #c6ff00;
}

/*.modal-footer {
    display:inline-block;
    float:left;
}*/