
<<<<<<< HEAD
body{
    background-image: url("../img/background_create_account.png");
    background-position: right top;
    background-attachment: fixed;
}
=======

>>>>>>> 8734fcb48bd80fa82ac86f096f67c8332f216fe6

.brand-logo{
    text-shadow: 2px 2px #000000;
    margin-left: 20px;
}

.card_signup{
    margin-top: 12em;
}

<<<<<<< HEAD
=======
.card .title-card{
    padding: 0px;
}

>>>>>>> 8734fcb48bd80fa82ac86f096f67c8332f216fe6
.btn-signup{
    background-image: url("../img/background_create_account.png");
}

.midnight-blue{
    color: #2c3e50;
}

<<<<<<< HEAD
=======
.titre-creation-compte{

    padding-top: 1em;
    padding-bot: 2em;
    background: repeating-linear-gradient(
            45deg,
            #689f38,
            #689f38 6px,
            #7cb342 6px,
            #7cb342 12px
    );
}

.titre-telechargement{

    padding-top: 1em;
    padding-bot: 2em;
    background: repeating-linear-gradient(
            45deg,
            #ffb300,
            #ffb300 6px,
            #ffa000 6px,
            #ffa000 12px
    );
}

.titre-connexion{

    padding-top: 1em;
    padding-bot: 2em;
    background: repeating-linear-gradient(
            45deg,
            #1e88e5,
            #1e88e5 6px,
            #1976d2 6px,
            #1976d2 12px
    );
}

.card-index{
    margin-top: 20em;
}

.btn-index{
    margin: 2em;
}

nav{
    opacity: 0.8;
}


.bottom-arrow-creation-compte{
    position: absolute;
    height: 0px;
    width: 0px;
    border: 15px solid transparent;
    border-top: 15px solid #8bc34a;
    left: 47%;
}

.bottom-arrow-telechargement{
    position: absolute;
    height: 0px;
    width: 0px;
    border: 15px solid transparent;
    border-top: 15px solid #ffc107;
    left: 47%;
}

.bottom-arrow-connexion{
    position: absolute;
    height: 0px;
    width: 0px;
    border: 15px solid transparent;
    border-top: 15px solid #2196f3;
    left: 47%;
}

#btn-download{
    position: relative;
    padding-bottom: 2em;
    bot: 0px;
}

.content-connexion{
    padding-top: 4em;
}

#btn-connexion{
    padding-bottom: 2em;
}

.card-download{
    padding: 2.5em;
}

::-webkit-input-placeholder { /* Chrome */
    color: #b0bec5;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #b0bec5;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #b0bec5;
    opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
    color: #b0bec5;
    opacity: 1;
}
>>>>>>> 8734fcb48bd80fa82ac86f096f67c8332f216fe6

