
body{
    background-image: url("../img/background_create_account.png");
    background-position: right top;
    background-attachment: fixed;
}

.brand-logo{
    text-shadow: 2px 2px #000000;
    margin-left: 20px;
}

.card_signup{
    margin-top: 12em;
}

.btn-signup{
    background-image: url("../img/background_create_account.png");
}

.midnight-blue{
    color: #2c3e50;
}


