html
  body

html
  head
    meta(charset='utf-8')
    |     
    link(rel='stylesheet', href='web/css/template.css')
    |     
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    // Compiled and minified CSS
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css')
    |     
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // Compiled and minified JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js')
  body
    #GUI_NAV.row
      .col.l1.m2.s12
        img.responsive-img(src='web/img/iconeBase.png', id='')
      |         
      .col.l2.m1.s12
      |         
      .col.l8.m8.s12
        nav
          div
            .nav-container
              ul
                li.menu-item.selected
                  a(href='#') compte
                |                             
                li.menu-item
                  a(href='boutique.html') boutique
                |                             
                li.menu-item
                  a(href='#') decks
                |                             
                li.menu-item
                  a(href='#') social
      |         
      .col.l1.m1.s12
    |     

    if pseudo == undefined
      #GUI_CONTENT.row
        .col.l2.m2.s12
        |         
        .col.l9.m9.s12
          .col.l12.m12.s12
            .card.amber.darken-3.center-align
              .card-action.container
                .row
                  .col.l6.m6.s6
                    .card
                      .card-image.waves-effect.waves-block.waves-light
                        img.activator(src='web/img/SIGNIN_ICON.png')
                      |                                     
                      .card-content.edo.black-text
                        | Se connecter
                      |                                     
                      .card-reveal
                        span.card-title.grey-text.text-darken-4
                          i.material-icons.right close
                        |                                         
                        .row
                          form(action="Account" method="post")
                            .input-field.col.l12.m12.s12
                              i.material-icons.prefix account_circle
                              |                                                     
                              input#signin_pseudo.validate(type='text' name="signin_pseudo")
                              |                                                     
                              label(for='pseudo') Pseudo ou Email
                            |                                                 
                            .input-field.col.l12.m12.s12
                              i.material-icons.prefix offline_pin
                              |                                                     
                              input#signin_password.validate(type='password' name="signin_password")
                              |                                                     
                              label(for='password') Mot de passe
                              |                                             
                             button#signin_submit.btn.waves-effect.waves-light.amber.darken-2.black-text
                              | Se connecter
                              i.material-icons.right send
                  |                             
                  .col.l6.m6.s6
                    a(href='AccountCreate.html', style='margin-right: 0px')
                      .card
                        .card-image
                          img(src='web/img/SIGNUP_ICON.png')
                        |                                         
                        .card-content.edo.black-text
                          | Cr&eacute;er un compte
        |         
        .col.l1.m1.s12



    script.
      /* pour faire fonctionner la barre de nav */
      $('.menu-item').click(function () {
      $('.selected').children().removeClass('selected-link');
      $('.selected').removeClass('selected');
      $(this).addClass('selected');
      $(this).children().addClass('selected-link');
      });
      /* navbar script end */
