doctype html
html(lang="fr")
  head
    title= DropDaBomb
    meta(charset='UTF-8')
    link(rel='stylesheet' href='web/css/template.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css')
    link(rel='stylesheet' href='http://fonts.googleapis.com/icon?family=Material+Icons')
    script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js')
  
  body

    div(class="row" id="GUI_NAV")
        div(class="col l1 m2 s12")
            img(src="web/img/iconeBase.png" class="responsive-img")
        
        div(class="col l2 m1 s12")

        div(class="col l8 m8 s12")
            nav
                div(class="nav-container")
                    ul
                        li(class="menu-item")
                            a(href="#") compte
                        li(class="menu-item")
                            a(href="#") boutique
                        li(class="menu-item")
                            a(href="#") decks
                        li(class="menu-item")
                            a(href="#") social
                    
        div(class="col l1 m1 s12")


    div(class="row" id="GUI_CONTENT")