// Template a inclure systematiquement (a ajouter apres une ligne "body")
// Ajoute la navbar 

#GUI_NAV.row
      .col.l1.m2.s12
        img.responsive-img(src='web/img/iconeBase.png')
      .col.l2.m1.s12
      .col.l8.m8.s12
        nav
          div
            .nav-container
              ul
                li.menu-item.selected
                  a(href='Account') compte
                                             
                li.menu-item
                  a(href='Shop') boutique
                                             
                li.menu-item
                  a(href='Decks') decks
                                            
                li.menu-item
                  a(href='Social') social
                  
                li.menu-item
                  a(href='Game') jouer
            
      .col.l1.m1.s12
